<html>
<head>
	<style media="screen" type="text/css">
		pre {
			line-height: 2;
			background: none;
			border: none;
			font-family: 'Helvetica';
			padding-top: 0px;
		}

		span.chord {
			font-weight: bold;
			color: #AAA;
		}

		pre code {
			white-space: inherit;
		}

		.day {
			color: #333333;
			background-color: white;
		}

		.night {
			color: #ddd;
			background-color: #333333;
		}

		.night pre {
			color: #ddd;
		}

		.day pre {
			color: #333333;
		}
	</style>
</head>

<body>
	<div class="page-content">
		<div id="songContent" style="column-count: 2;">
		[songs]
		</div>
	</div>
</body>

</html>
